@import "tailwindcss";

.actionbar-area {
    z-index: 98;
    padding: clamp(16px, calc(13.714px + 0.714vw), 24px) clamp(16px, calc(11.429px + 1.429vw), 32px);
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--gray-04);
}