@import "tailwindcss";

.header-container {
    padding: clamp(16px, calc(13.714px + 0.714vw), 24px) clamp(16px, calc(11.429px + 1.429vw), 32px);
}

.header-title {
    font-size: 1.125rem;
    font-weight: 700;
}

/* header 컴포넌트 장바구니 카운트 */
.count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -7px;
    right: -7px;
    border-radius: 100%;
    /* 컬러변경 */
    background-color: #FF4500;
    width: 20px;
    height: 20px;
    font-size: 0.625rem;
    color: white;
    font-weight: 500;
}

