@import "tailwindcss";

.header-title {
    font-size: 1.125rem;
    font-weight: 700;
}

/* header 컴포넌트 장바구니 카운트 */
.count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
    border-radius: 100%;
    /* 컬러변경 */
    background-color: var(--color-main);
    width: 18px;
    height: 18px;
    font-size: 0.625rem;
    color: white;
    font-weight: 500;
}

