@import "tailwindcss";

.thumb-area img {
    aspect-ratio: 3 / 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prd-title {
    padding-top: 12px;
}

.brand-name, .product-name {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-box-align: initial;
    word-break: break-all;
    overflow-wrap: break-word;
}

.discount {
    color: var(--main-color);
    padding-right: 4px;
}

.likeBtn button {
    position: absolute;
    right: 0;
    bottom: 42px;
    z-index: 1;
    width: 24px;
    height: 24px;
}