.swiper-pagination-progressbar {
    top: auto !important;
    bottom: 0 !important; 
    height: 2px !important; 
    background: #00000000;
}

.swiper-pagination-progressbar-fill {
    background: var(--color-black) !important;
}

.swiper-slide .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 검정색 */
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* prev, next 슬라이드는 오버레이 표시 */
.swiper-slide-prev .overlay,
.swiper-slide-next .overlay {
    opacity: 1;
}


.swiper-pagination-fraction {
    top:16px;
    left: 280px;
    width: min-content;
    height: min-content;
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 4px 10px;
    z-index: 10;
}

.swiper-pagination-current {
    color: white;
}