@import "tailwindcss";


/* 제품 스와이퍼 컴포넌트 */

.product-swiper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    overflow: auto hidden;
    overscroll-behavior: contain auto;
    gap: 24px 6px;
    padding: 0px 20px;
}

.product-card {
    width: clamp(150px, 25vw, 400px);
    flex-shrink: 0;
    position: relative;
}

.thumb-area {
    width: 100%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    background-color: var(--gray-02);
}

.thumb-area img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prd-title {
    padding-top: 12px;
}

.prd-title .brand-name, .product-name {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-box-align: initial;
    word-break: break-all;
    overflow-wrap: break-word;
}

.brand-name {
     /* 폰트 사이즈 정해서 공통으로 묶어야함 */
    font-size: 0.875rem;
    font-weight: 500;
}

.product-name {
    /* 폰트 사이즈 정해서 공통으로 묶어야함 */
    font-size: 0.75rem;
    color: var(--txt-muted-color);
}

.prd-price span {
    font-size: 0.875rem;
    font-weight: 500;
}

.discount {
    color: var(--main-color);
    padding-right: 4px;
}

.product-card button {
    position: absolute;
    left: 120px;
    bottom: 46px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* 제품 페이지 - 쎔네일스와이퍼 컴포넌트 */

.thum-area {
    cursor: grab;
    overflow: hidden; 
    white-space: nowrap; 
}

.thum-area ul {
    display: flex; 
    aspect-ratio: 1 / 1;    
}

.thum-area li {
    flex: 0 0 auto;
}

.thum-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

progress {
    width: 100%;
    height: 3px;
    position: absolute;
}

progress::-webkit-progress-bar {
    background-color: var(--gray-04);
}
progress::-webkit-progress-value {
    background-color: var(--main-color);
}

/* 제품페이지 - 탭메뉴 */

.tap {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
}

.tap li {
    /* 사이즈 수정 해야함 */
    width: 100%;
    padding: 1rem 0;
    border-bottom: 2px solid var(--color-black);
}


/* 좋아요 버튼 */

.like-button {
    cursor: pointer;
}


/* 제품 상세정보 */

.prd-detail-content {
    max-height: 600px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.prd-detail-content.expanded {
    max-height: 9999px;
}


.detail-more {
    position: relative;
}

.detail-more::after {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 3.12rem;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%); 
}

.detail-more button {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid var(--color-black);
    background: var(--color-white);
    /* 높이 사이즈 수정 */
    height: 3.125rem;
    gap: 6px;
}

svg {
    stroke-width: 2;
    stroke-miterlimit: 10;
}


/* 제품페이지 - 제품문의 */
.inquiry-list {
    display: flex;
    flex-direction: column;
}

.inquiry-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0;
    border-bottom: 1px solid var(--gray-02);
}

.write-info {
    font-size: 12px;
    display: flex;
    gap: 8px;
}

.write-info li .complete {
    width: 43px;
    padding: 2px 4px;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    font-weight: 500;
}

.write-info li {
    position: relative;
}

.write-info li span {
    color: var(--txt-muted-color);
}

.write-info li:last-child::before {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: -4px;
    content: "";
    width: 1px;
    background-color: var(--gray-02);
    height: 50%;
}

.inquiry-txt {
    font-size: 14px;
    display: flex;
    gap: 4px;
}


/* 장바구니 페이지 */

.select-area {
    display: flex;
    justify-content: space-between;
}

.item-area {
    display: flex;
}

.total-area dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}