@import "tailwindcss";


/* 제품페이지 - 사이즈,수량 선택 */

.option-penal .total-price {
    border-top: 1px solid var(--color-black);
    display: flex;
    justify-content: space-between;
}




/* ProductReview - 제품 리뷰 */

.review-user-info {
    font-size: 12px;
}

.review-user-info p {
    color: var(--txt-muted-color);
}

.review-option {
    border-radius: 0.4rem;
    background-color: var(--gray-04);
    color: var(--txt-muted-color);
}

/* ReviewWriteModal - 리뷰 글쓰기 모달 */


.file-area input[type="file"] {
    display: none;
}

.file-btn svg {
    stroke: var(--gray-02);
    transform: rotate(-45deg);
}


.thumb-box button {
    position: absolute;
    z-index: 10000;
    top: 4px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
}

.thumb-box button svg {
    width: 14px;
    height: 14px;
}

/* ReviewList - 리뷰 리스트 */

.prd-review-list {
    border-bottom: 1px solid var(--gray-02);
}

.star-fill {
    color : var(--color-black);
}

.star-empty {
    color : var(--gray-03);
}
