@import "tailwindcss";

:root {
    /* 기본 컬러 */
    --main-color: #00cdf5;

    /* 텍스트 컬러  */
    --txt-main-color: #161616;
    --txt-muted-color: #4e4e4e;

    --gray-01: #999999;
    --gray-02: #B1B1B1;
    --gray-03: #CCCCCC;
    --gray-04: #f2f2f2;
}

body {
    font-family: 'SUIT Variable', sans-serif;
    letter-spacing: -0.02rem;
}

.container {
    padding: 0 4.26667vw;
}


button {
    cursor: pointer;
}


svg {
    stroke-width: 2;
    stroke-miterlimit: 10;
}


/* 홈 사업자 텍스트 토글*/
summary {
    list-style: none;
}

.title {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 700;
}

.subtext {
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 500;
}

.prdbrand {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 700;
}

.prdname {
    font-size: 0.8125rem;
    line-height: 1.5;
    font-weight: 500;
}

